.player {
  // position: relative;
  // padding-top: 56.25%;
  width: 100%;
  height: 100%;
  padding: 15px 50px 30px 50px;

  &__line {
    position: relative;
  }

  &__elements {
    width: 100%;
    height: 28px;
    // background-color: green;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__element {
    height: 100%;
    background-color: #808080;
    position: absolute;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__play {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
    min-height: 45px;
    margin-left: -10px;
  }

  &__timer {
    margin-left: 20px;
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
  }

  &__time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: Yandex Sans Text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    span {
      display: block;
    }
  }

  // &__submit {
  //   margin-top: 35px;
  // }

  // .submit-btn {
  //   background: #FFDB4D;
  //   border-radius: 5px;
  //   font-family: Yandex Sans Display;
  //   font-style: normal;
  //   font-weight: normal;
  //   font-size: 16px;
  //   line-height: 16px;
  //   border: none;
  //   padding: 15px;
  // }

  &__range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 46px;
    position: relative;
    // margin-top: 20px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0.6px;
      background-color: #A7A7A7;
      position: absolute;
      top: 50%;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 7px;
      height: 46px;
      cursor: pointer;
      position: relative;
      background-image: url("./../../icons/Union.svg");
      background-repeat: no-repeat;
    }
  }
}

// .react-player {
//   // width: 100%;
//   // height: 100%;
// }